img {
  width: 100px;
  border-radius: 10px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.cart-container {
  display: flex;
}
.cart-container form {
  display: flex;
  flex-direction: column;
}
.cart-container form button {
  width: fit-content;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.form-margin {
  margin-bottom: 12px;
}

.number-input {
  width: 80px;
  text-align: center;
}




.cart-card {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  height: 100%;
  width: 300px;
}


