.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin-bottom: 64px;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  text-align: center;
  height: 100%;
  width: 250px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-card button {
  margin-top: 20px;  
}
